<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rememorydroid.oriolsecall.rememorydroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Splash"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".IniciActivity"
            android:screenOrientation="landscape"
            android:label="@string/LogIn"/>
        <activity
            android:name=".AreaAvaluadorActivity"
            android:screenOrientation="landscape"
            android:label="@string/AssesserArea"/>
        <activity
            android:name=".PacientUserSignUpActivity"
            android:screenOrientation="landscape"
            android:label="@string/SignUpPacientTitleActivity"/>
        <activity
            android:name=".TractamentsActivity"
            android:screenOrientation="landscape"
            android:label="@string/TreatmentsArea"/>
        <activity
            android:name=".EpisodiActivity"
            android:screenOrientation="landscape"
            android:label="@string/Episodes"/>
        <activity
            android:name=".GuiaActivity"
            android:screenOrientation="landscape"
            android:label="@string/Guide"/>
        <activity
            android:name=".PeliculaActivity"
            android:screenOrientation="landscape"
            android:label="@string/Question1Pel1"/>
        <activity
            android:name=".PeliculaActivity2"
            android:screenOrientation="landscape"
            android:label="@string/Question2Pel1"/>
        <activity
            android:name=".EpisodePresentationActivity"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".PeliculaActivity3"
            android:screenOrientation="landscape"
            android:label="@string/Question3Pel1"/>
        <activity
            android:name=".PeliculaActivity4"
            android:screenOrientation="landscape"
            android:label="@string/Question4Pel1"/>
        <activity
            android:name=".PeliculaActivity5"
            android:screenOrientation="landscape"
            android:label="@string/Question5Pel1"/>
        <activity
            android:name=".PeliculaActivity6"
            android:screenOrientation="landscape"
            android:label="@string/Question6Pel1"/>
        <activity
            android:name=".RespirarActivity1"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisualitzarActivity1"
            android:screenOrientation="landscape"
            android:label="@string/Visualitzar"/>
        <activity
            android:name=".EvocarActivity"
            android:screenOrientation="landscape"
            android:label="@string/Evocar"/>
        <activity
            android:name=".QuestionariActivity"
            android:label="@string/Questions"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuestionariActivity2"
            android:label="@string/Questions"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmocionsActivity"
            android:screenOrientation="landscape"
            android:label="@string/Emotions"/>
        <activity
            android:name=".EmocionsActivity2"
            android:screenOrientation="landscape"
            android:label="@string/Emotions2"/>
        <activity
            android:name=".EmocionsActivity3"
            android:screenOrientation="landscape"
            android:label="@string/Emotions3"/>
        <activity
            android:name=".AlbumActivity"
            android:screenOrientation="landscape"
            android:label="@string/Album"/>
        <activity
            android:name=".EscenaActivity"
            android:screenOrientation="landscape"
            android:label="@string/Scene"/>
        <activity android:name=".EscenaActivity2"
            android:screenOrientation="landscape"
            android:label="@string/Scene"> </activity>
    </application>

</manifest>