<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rememorydroid.oriolsecall.rememorydroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".IniciActivity"
            android:label="@string/LogIn"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AreaAvaluadorActivity"
            android:label="@string/AssesserArea"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PacientUserSignUpActivity"
            android:label="@string/SignUpPacientTitleActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TractamentsActivity"
            android:label="@string/TreatmentsArea"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EpisodiActivity"
            android:label="@string/Episodes"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GuiaActivity"
            android:label="@string/Guide"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PeliculaActivity"
            android:label="Test1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PeliculaActivity2"
            android:label="Test1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EpisodePresentationActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PeliculaActivity3"
            android:label="Test1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PeliculaActivity4"
            android:label="Test1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PeliculaActivity5"
            android:label="Test1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PeliculaActivity6"
            android:label="Test1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RespirarActivity1"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisualitzarActivity1"
            android:label="@string/Visualitzar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EvocarActivity"
            android:label="@string/Evocar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".QuestionariActivity"
            android:label="@string/Questions"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuestionariActivity2"
            android:label="@string/Questions"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmocionsActivity"
            android:label="@string/Emotions"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EmocionsActivity2"
            android:label="@string/Emotions2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EmocionsActivity3"
            android:label="@string/Emotions3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AlbumActivity"
            android:label="@string/Album"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EscenaActivity"
            android:label="@string/Scene"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EscenaActivity2"
            android:label="@string/Scene"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EscenaCurtaActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".VisualitzarActivity0"
            android:screenOrientation="landscape"/>
    </application>

</manifest>