<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rememorydroid.oriolsecall.rememorydroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Splash"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".IniciActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AreaAvaluadorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PacientUserSignUpActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TractamentsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EpisodiActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GuiaActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PeliculaActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PeliculaActivity2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EpisodePresentationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PeliculaActivity3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PeliculaActivity4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PeliculaActivity5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PeliculaActivity6"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RespirarActivity1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".VisualitzarActivity1"
            android:screenOrientation="landscape" />
        <activity android:name=".EvocarActivity"
            android:screenOrientation="landscape"><intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter></activity>
    </application>

</manifest>